@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="/home/CreateAndUpdate" method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" /><br>
    <label for="Brand">Brand</label>
    <input type="text" name="Brand" /><br>
    <label for="Description">Description</label>
    <input type="text" name="Description" /><br>
    <input type="submit" name="submit" />
</form>